<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.captain_pc.beautyblinkcustomer">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/testlogo3"
        android:label="BeautyBlink"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAaV4lPYXuqdfcHd6p4PrzxpcHQyDtHaa8"/>
        <activity android:name=".GoogleSignIn"></activity>
        <activity android:name=".Register"></activity>
        <activity android:name=".CreateRequest"></activity>
        <activity android:name=".SearchDetails"></activity>
        <activity android:name=".PromotionDetails"></activity>
        <activity android:name=".SpecificSearch"></activity>

        <activity android:name=".MyAccount"></activity>
        <activity android:name=".EditProfile"></activity>
        <activity android:name=".MyLikes"></activity>
        <activity android:name=".RecentlyViewed"></activity>
        <activity android:name=".MyPromotion"></activity>
        <activity android:name=".Setting"></activity>
        <activity android:name=".Support"></activity>
        <activity android:name=".Payment" />
        <activity android:name=".OfferPage"></activity>
        <activity android:name=".MessagePage" />
        <activity android:name=".Review"></activity>

        <service android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".TestNoti" />
        <activity android:name=".Second">
            <intent-filter>
                <action android:name="OPEN_ACTIVITY_1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>



</manifest>

